<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="jquery-3.4.1/jquery-3.4.1.js"></script>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/bootstrap-theme.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/community.css}" type="text/css">
    <script src="js/bootstrap.js" type="application/javascript"></script>
    <script src="js/commmentJs.js"></script>
    <footer th:fragment="common_foot" class="footer navbar-fixed-bottom ">

        <div class="footer-class">
            <div class="footer-inner-div">
                <a class="footer-a-href" href="http://beian.miit.gov.cn">
                    网站备案号宁ICP备20000463号-1
                </a>
                &nbsp; &nbsp;个人网站
                &nbsp; &nbsp;邮箱：lijianglong0916@foxmail.com

            </div>

        </div>
    </footer>
</head>
<body>

</body>
</html>