<!DOCTYPE html>
<html lang="en">

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>码酱论坛</title>
    <script src="jquery-3.4.1/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/bootstrap.js" type="application/javascript"></script>
    <script src="js/commmentJs.js"></script>

</head>
<body>
<div id="head" th:insert="header :: common_head"></div>
<p class="index-p-errLog" th:if="${session.logState!=null}" th:text="${session.logState.getMsg()}"></p>
<div class="container-fluid main ">
    <div class="row">
        <div class="col-lg-7 col-sm-12 col-md-12 col-xm-12 index-div-que">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发现</h2>
            <div class="media" th:each="question:${listQuestionDto.getQuestionDtos()}">

                <div class="media-body index-div-body">
                    <a th:href="@{queDetail(questionId=${question.getId()})}">
                        <h4 class="media-heading">[[${question.getTitle()}]]</h4>
                    </a>
                    <span class="span-tags" th:text="'•作者：'+${question.getCreatorName()}"></span>
                    <span class="span-tags" th:text="'•回复数：'+${question.getComment_count()}">&nbsp;</span>
                    <span class="span-tags" th:text="'•阅读数：'+${question.getRead_count()}">&nbsp;</span>
                    <span class="span-tags"
                          th:text="'•发布时间：'+${#calendars.format(question.getGmt_create(),'yyyy-MM-dd')}"></span>
                    <span class="span-tags" th:text="'•点赞数：'+${question.getLike_count()}"></span>
                </div>
            </div>

            <!--分页-->
            <nav aria-label="Page navigation">
                <ul class="pagination index-ul-page">
                    <li>
                        <a th:if="${listQuestionDto.isFirstPage()}" th:href="@{/(page=1)}">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>

                    <li>
                        <a th:if="${listQuestionDto.isPreviousPage()}"
                           th:href="@{/(page=${listQuestionDto.getPage()-1})}">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="pages:${listQuestionDto.getPageList()}"
                        th:class="${pages==listQuestionDto.getPage()}?'active':''">
                        <a th:href="@{/(page=${pages})}" th:text="${pages}"></a>
                    </li>

                    <li>
                        <a th:if="${listQuestionDto.isNextPage()}" th:href="@{/(page=${listQuestionDto.getPage()+1})}">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>

                    <li>
                        <a th:if="${listQuestionDto.isLastPage()}"
                           th:href="@{/(page=(${listQuestionDto.getPageNumber()}))}">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>


        </div>
        <div class="col-lg-3 col-sm-12 col-xm-12 index-div-hot-que">
            <h3>热门话题</h3>
            <div class="media" th:if="${hotQuestions!=null}" th:each="hotQuestion:${hotQuestions}">
                <div class="media-body">
                    <a th:href="@{queDetail(questionId=${hotQuestion.getId()})}">
                        <h5 class="media-heading">[[${hotQuestion.getTitle()}]]</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer" th:insert="footer :: common_foot"></div>

</body>
</html>