<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布---种花家的兔子</title>
    <link rel="stylesheet" href="css/editormd.css">
    <!--    <link rel="stylesheet" href="css/editormd.preview.css" > -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/community.css" type="text/css">
    <script src="jquery-3.4.1/jquery-3.4.1.js"></script>
    <!--    <script src="js/lib/marked.min.js"></script>-->
    <!--    <script src="js/lib/prettify.min.js"></script>-->
    <script src="js/editormd.min.js"></script>
    <script src="js/bootstrap.js" type="application/javascript"></script>
    <script src="js/commmentJs.js"></script>
</head>
<body>
<div id="head" th:insert="header :: common_head"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-sm-12 col-md-12 col-xm-12" style="background: white ">
            <span class="glyphicon  glyphicon-plus" aria-hidden="true"></span>
            <h2>发起</h2>
            <hr>

            <div class="alert alert-warning alert-dismissible" role="alert" th:if="${session.logState}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <strong th:text="${session.logState}"></strong>
            </div>
            <!--标题搜索-->
            <div class="form-group">
                <label for="title">请输入标题（简明扼要）：</label>
                <input type="text" class="form-control" placeholder="输入标题" id="title" name="title"
                       th:value="${questionDto.getTitle()}">
            </div>

            <!--内容输入框-->
            <div class="form-group" id="question-editor">
                <label for="description">请输入正文：</label>
                <textarea type="text"
                          style="display:none;"
                          name="description"
                          class="form-control "
                          id="description"
                          th:text="${questionDto.getDescription()}">
                </textarea>
                <!--textarea初始化-->
                <script type="text/javascript">
                    $(function () {
                        var editor = editormd("question-editor", {
                            width: "100%",
                            height: 350,
                            path: "/js/lib/",
                            delay: 0,
                            watch: true,     //开启实时预览
                            placeholder: "正文",
                            imageUpload: true,  //开启图片上传
                            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                            imageUploadURL: "upLoadPicture",             // Upload url
                            emoji: true,
                        });
                    });
                </script>
            </div>
            <input hidden="false" id="questionId" name="questionId" th:value="${questionDto.getId()}">
            <input type="hidden" id="user_name" name="user_name" th:value="${session.userName}">

            <!--标签添加                     -->
            <div>
                <label for="tag">添加标签：</label>
                <input type="text"
                       class="form-control"
                       placeholder="输入标签"
                       id="tag"
                       name="tag"
                       th:value="${questionDto.getTag()}"
                       onfocus="displayTags()"
                       onblur="blockTags()"
                >
                <!--标签属性设定-->
                <br>

            </div>
            <div id="labelTag" style="display: none">

                <!-- 标签页表头 Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#devLanguage" aria-controls="devLanguage" role="tab"
                                                              data-toggle="tab">开发语言</a></li>
                    <li role="presentation"><a href="#Platform" aria-controls="platform" role="tab" data-toggle="tab">平台框架</a>
                    </li>
                    <li role="presentation"><a href="#worK" aria-controls="worK" role="tab" data-toggle="tab">学习工作</a>
                    </li>
                </ul>

                <!-- 标签页属性Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="devLanguage">
                        <br>
                        <a class="label label-info question-detail-label-info" onclick="setTag('C')" th:text="C"></a>
                        <a class="label label-info question-detail-label-info" onclick="setTag('java')"
                           th:text="java"></a>
                        <a class="label label-info question-detail-label-info" onclick="setTag('C++')"
                           th:text="C+'++'"></a>
                        <a class="label label-info question-detail-label-info" onclick="setTag('Python')"
                           th:text="Python"></a>
                        <a class="label label-info question-detail-label-info" onclick="setTag('php')"
                           th:text="php"></a>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Platform">
                        <br>
                        <a class="label label-info question-detail-label-info" onclick="setTag('Spring')"
                           th:text="Spring"></a>
                        <a class="label label-info question-detail-label-info" onclick="setTag('SpringBoot')"
                           th:text="SpringBoot"></a>
                        <a class="label label-info question-detail-label-info" onclick="setTag('vs')" th:text="vs"></a>
                        <a class="label label-info question-detail-label-info" onclick="setTag('mybatis')"
                           th:text="mybatis"></a>
                        <a class="label label-info question-detail-label-info" onclick="setTag('flyway')"
                           th:text="flyway"></a>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="worK">
                        <br>
                        <a class="label label-info question-detail-label-info" onclick="setTag('java面试')"
                           th:text="java面试"></a>
                        <a class="label label-info question-detail-label-info" onclick="setTag('面试')" th:text="面试"></a>
                        <a class="label label-info question-detail-label-info" onclick="setTag('C++知识点')"
                           th:text="C+'++'+知识点"></a>
                        <a class="label label-info question-detail-label-info" onclick="setTag('Java面经')"
                           th:text="Java面经"></a>
                        <a class="label label-info question-detail-label-info" onclick="setTag('MySQL知识点')"
                           th:text="MySQL知识点"></a>
                    </div>
                </div>

            </div>
            <button type="submit" class="btn btn-success btn-publish" onclick="publishPost()" th:text="${pub}"></button>

        </div>
        <div class="col-lg-3 col-sm-12 col-xm-12 body-color">
            <h3>问题发起指南</h3>
            <br>
            <h4>尽量清楚、详细地描述问题</h4>
            <h5>
                1.编程技术、软件算法、开发工具相关<br>
                2.标题 清晰明了，内容 包含必要的操作环境、截图和代码、期望结果与实际结果<br>
                3.善用 编辑器 排版你的问题，提高可读性<br>
                4.准确地使用多个 标签 标记你的问题<br>
            </h5>
            <br>
            <h4>不适合发布的</h4>
            <h5>
                1.你自己没有尝试找过答案 <br>
                2.征询产品、服务推荐 <br>
                3.软件程序评比投票，没有结论的观点讨论 <br>
                4.任何与编程开发无关问题 <br>
            </h5>
            <br>
            <h4>保持求知欲</h4>
            <h5>
                或许最后得到的答案并不是你最想要的，但深思熟虑过的问题依旧可能会让你有其他方面的收获。每个人的成长都是一步步来的，所以，Keep an open mind。
            </h5>
        </div>
    </div>
</div>


</body>
</html>