<!DOCTYPE html>
<html lang="en">


<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>码酱论坛</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/community.css">
    <link rel="stylesheet" href="css/editormd.css">
    <link rel="stylesheet" href="css/editormd.preview.css">
    <script src="jquery-3.4.1/jquery-3.4.1.js"></script>
    <script src="js/bootstrap.js" type="application/javascript"></script>
    <script src="js/editormd.min.js"></script>
    <script src="js/lib/marked.min.js"></script>
    <script src="js/lib/prettify.min.js"></script>
    <script src="js/commmentJs.js"></script>

</head>
<body>
<div id="head" th:insert="header :: common_head"></div>
<div class="container-fluid main ">
    <div class="row">
        <div class="col-lg-9 col-sm-12 col-md-12 col-xm-12 div-que-background" style="padding: 20px;">
            <div class="h4-title">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>[[${question.getTitle()}]]
            </div>
            <span class="span-tags" th:text="'•作者：'+${question.getCreatorName()}"></span>
            <span class="span-tags" th:text="'•回复数：'+${question.getComment_count()}">&nbsp;</span>
            <span class="span-tags" th:text="'•阅读数：'+${question.getRead_count()}">&nbsp;</span>
            <span class="span-tags"
                  th:text="'•发布时间：'+${#calendars.format(question.getGmt_create(),'yyyy-MM-dd HH:mm:ss')}"></span>
            <span class="span-tags" th:text="'•点赞数：'+${question.getLike_count()}"></span>
            <hr>
            <div class="col-lg-12 col-sm-12 col-xm-12">
                <span class="label label-info question-detail-label-info" th:each="tag:${question.getTag().split(',')}">
                    <span class="glyphicon glyphicon-tags"> </span>
                    <span class="label label-info question-detail-label-info " th:text="${tag}"></span>
                </span>

            </div>
            <hr>
            <hr>
            <div class="col-lg-12 col-sm-12 col-xm-12 " id="question-markdown-view">
                <!-- Server-side output Markdown text -->
                <textarea style="display:none;"
                          th:text="${question.getDescription()}">
                </textarea>
            </div>
            <script type="text/javascript">
                $(function () {
                    var testView = editormd.markdownToHTML("question-markdown-view", {
                        // markdown : "[TOC]\n### Hello world!\n## Heading 2", // Also, you can dynamic set Markdown text
                        // htmlDecode : true,  // Enable / disable HTML tag encode.
                        // htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
                    });
                });
            </script>
            <!--            <div class="col-lg-12 col-sm-12 col-xm-12" style="background: wheat"-->
            <!--                 th:text="${question.getDescription()}"></div>-->
            <hr>
            <a th:if="${session.userName!=null&&creatorName==currentUserName}"
               th:href="@{edit(questionId=${question.getId()})}">
                <span class="glyphicon glyphicon-pencil log-color" aria-hidden="true">修改</span></a>
            <a onclick="commentLike()">
                <input type="hidden" id="question_id" name="question_id" th:value="${question.getId()}">
                <input type="hidden" id="user_name" name="user_name" th:value="${session.userName}">
                <span class="glyphicon glyphicon-thumbs-up log-color" aria-hidden="true" id="like"
                      th:text="${giveLike}"></span>
            </a>
            <a onclick="commentReply()">
                <span class="glyphicon glyphicon-comment log-color" aria-hidden="true">回复</span>
            </a>
            <a th:onclick="'javascript:deleteQue(\''+${question.getId()}+'\');'"
               th:if="${currentUserName!=null&&creatorName==currentUserName}">
                <span class="glyphicon glyphicon-trash log-color" aria-hidden="true">删除</span>
            </a>
            <hr>
            <h3>共有[[${commentNumber}]]个回复</h3>

            <!--回复展示页面-->
            <div th:if="${commentToHtmlDtos!=null&&commentNumber!=0}" th:each="commentDto:${commentToHtmlDtos}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object header-pic"
                             th:src="${currentHeadP}">
                    </a>
                </div>
                <div class="media-body">
                    <div style="float:left;">
                        <a class="media-heading comment-pic-name" th:text="${commentDto.user.getName()}"></a>
                        <br>
                        <span class="media-heading comment-pic-text"
                              th:text="${commentDto.comment.getCommentText()}"></span>
                    </div>
                </div>
                <input type="hidden" th:value="${commentDto.comment.getId()}" th:name="${commentDto.comment.id}">

                <!--二级评论回复 分享图标及功能-->

                <!--                <a onclick="commentReply()">-->
                <!--                    <span class="glyphicon glyphicon-comment log-color" aria-hidden="true"></span>-->
                <!--                </a>-->
                <!--                <a onclick="shareReply()">-->
                <!--                    <span class="glyphicon glyphicon-share log-color" aria-hidden="true"></span>-->
                <!--                </a>-->
                <!--                <a onclick="deleteReply()"-->
                <!--                   th:if="${session.userName!=null&&session.userName==currentUserName}">-->
                <!--                    <span class="glyphicon glyphicon-trash log-color" aria-hidden="true"></span>-->
                <!--                </a>-->
                <!--                <div class="col-lg-12 col-sm-12 col-xm-12 collapse in.comment-second" hidden="false">-->
                <!--                    二级回复功能-->
                <!--                </div>-->
                <hr>
            </div>


            <div col-lg-12 col-sm-12 col-md-12 col-xm-12>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="img-circle media-object header-pic " style="float:left"
                                 th:src="${currentHeadP}">
                            <h4 style="float:left" th:text="${currentUserName}"></h4>
                        </a>
                    </div>
                </div>
            </div>


            <!--回复输入框-->
            <div col-lg-12 col-sm-12 col-md-12 col-xm-12>
                <div>
                    <textarea class="form-control" rows="3" id="commentText" name="commentText" disabled></textarea>
                    <input type="hidden" id="questionId" name="questionId" th:value="${question.getId()}">
                    <input type="hidden" id="creator" name="creator" th:value="${session.userName}">
                    <button type="button" onclick="replyPost()" class="btn btn-success btn-publish">回复</button>
                </div>
            </div>
        </div>

        <!--右侧显示信息栏-->
        <div class="col-lg-3 col-sm-12 col-xm-12 body-color">
            <div class="col-lg-12 col-sm-12 col-xm-12">
                <h3>发起人</h3>
                <div class="media">
                    <div class="media-left">
                        <a th:href="@{personal(creatorName=${creatorName})}">
                            <img class="img-circle media-object header-pic " style="float:left"
                                 th:src="${creatorHeadP}">
                            <h4 style="float:left" th:text="${creatorName}"></h4>
                        </a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-lg-12 col-sm-12 col-xm-12 ">
                <h3>相关问题</h3>
                <div class="media" th:each="relatedQuestion:${relatedQuestions}">
                    <div class="media-body">
                        <a th:href="@{queDetail(questionId=${relatedQuestion.getId()})}">
                            <h5 class="media-heading">[[${relatedQuestion.getTitle()}]]</h5>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>